@import 'select2-tailwindcss-theme/dist/select2-tailwindcss-theme.css';
@import 'components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}



    .upload-area {
        border: 2px dashed #0d6efd;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
    }
    .upload-area:hover {
        background-color: #f8f9fa;
    }
    .upload-area img {
        max-width: 300px;
        width: 100%;
        margin: auto;
        display: block;
        margin-top: 20px;
        border-radius: 10px;
    }



